{% extends 'base.html.twig' %}
{% block title %}
    Welcome
{% endblock %}

{% block body %}
    <main class="container">
        <div class="content-wrapper">
            <div class="home__content">
                <h1>WELCOME!</h1>
                {% if not app.user %}
                    <p>Log in please</p>
                {% endif %}
                <button class="btn btn--green btn--l"><a href={{ path('admin') }}>Admin</a></button>
            </div>
        </div>
    </main>
{% endblock %}
