{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="admin-form">
            <h1>Register an admin</h1>

            {{ form(form) }}

        </div>
    </div>

{% endblock %}